@font-face {
  font-family: 'ArcadeClassic';
  src: url('./assets/arcade-classic.ttf');
}

* {
  font-family: 'ArcadeClassic';
}

#breakout {
  background-color: black;
  cursor: none;
}

#play-button {
  background-color: green;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}
