@font-face {
  font-family: 'ArcadeClassic';
  src: url('./assets/arcade-classic.ttf');
}

* {
  font-family: 'ArcadeClassic';
}

.title {
  font-size: 3.5rem;
}

.controls > p {
  font-family: 'Press Start 2P';
}

#breakout {
  background-color: black;
  cursor: none;
}

#play-button {
  background-color: green;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.3rem;
}
