@font-face {
  font-family: 'ArcadeClassic';
  src: url('./assets/arcade-classic.ttf');
}

* {
  font-family: 'ArcadeClassic';
}

#breakout {
  background-color: black;
}

#play-button {
  background-color: green;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
